.TuttiControl {
  display: flex;
  align-items: center;
}
.TuttiControl .label {
  color: white;
  font-family: 'Kalam', cursive;
  font-size: 0.5rem;
  padding: .2rem ;
}
.TuttiControl button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  color: springgreen;
  font-weight: bold;
  border-radius: 100%;
  cursor: pointer;
}
.TuttiControl button:disabled {
  opacity: .5;
}
.TuttiControl button:not(:disabled):hover {
  opacity: .8;
}

@media (min-width: 500px) {
  .TuttiControl .label {
    font-size: 1.8rem;
  }
}