.TuttiKit {
  padding: 0 0.5rem;
}

.TuttiKit .bento {
  display: inline-block;
  flex-flow: wrap;
  background-size: contain;
  background-image: url(../../../assets/basket.png);
  background-size: cover;
  width: 350px;
  height: 300px;
  border-top-right-radius: 80%;
  border-top-left-radius: 100%;
  overflow: hidden;
  margin-left: 70px;
  padding-left: 60px;
}

.TuttiKit .price {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: springgreen;
  font-family: "Tangerine", cursive;
}

@media (min-width: 500px) {
  .TuttiKit {
    width: 495px;
  }
}