.Tutti {
  width: 40px;
  height: 50px;
  box-sizing: border-box;
  margin-top: -20px;

  background-repeat: no-repeat;
}
.Banana {
  background-image: url(../../../../assets/banana.png);
}
.Pomegranate {
  background-image: url(../../../../assets/pomegranate.png);
}
.Grapes {
  background-image: url(../../../../assets/grapes.png);
}
.Orange {
  background-image: url(../../../../assets/orange.png);
}
.Mango {
  background-image: url(../../../../assets/mango.png);
}
.Pineaplle {
  background-image: url(../../../../assets/pineapple.png);
}
.Pear {
  background-image: url(../../../../assets/pear.png);
}

@media (min-width: 900px) {
  .Tutti {
    width: 50px;
    height: 62px;
    margin-top: -24px;
  }
}