.Tutti {
  width: 100%;
  height: 100%;
  margin-top: -20px;

  background-repeat: no-repeat;
}
.banana {
  background-image: url(../../../../assets/banana.png);
  height: 100px;
}
.pomegranate {
  background-image: url(../../../../assets/pomegranate.png);
  height: 70px;
}
.grapes {
  background-image: url(../../../../assets/grapes.png);
  height: 100px;
}
.orange {
  background-image: url(../../../../assets/orange.png);
  height: 80px;
}
.mango {
  background-image: url(../../../../assets/mango.png);
  height: 60px;
}
.pineapple {
  background-image: url(../../../../assets/pineapple.png);
  height: 160px;
}
.pear {
  background-image: url(../../../../assets/pear.png);
  height: 90px;
}

@media (min-width: 900px) {
  .Tutti {
    background-size: cover;
    width: 80px;
  }
}