.TuttiControls {
  border: 3px solid rgb(17, 201, 109);
  background-color: SpringGreen;

  padding: 1rem 2rem;
  margin: 0 .5rem;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}